body{
    margin: 0;
    border: 0;
    font-family: 'Bahnschrift', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 192, 67);
}

#top-navigator{
    background-color: #fff;
    overflow: hidden;
    padding-right: 2em;
}

#nav-list a{
    float: right;
    text-align: center;
    font-size: 1em;
    color: #000000;
    text-decoration: none;
    margin: 0;
    padding: 5px 10px;
    word-spacing: 10px;
}

#main-header{
    background-color: rgb(151, 209, 217);
    padding-top: 1.4em;
    padding-left: 6em;
    padding-bottom: 1.2em;
}

h2{
    font-size: 4.5em;
    color: #fff;
    margin: 20px;
    letter-spacing: 3px;
}

h3{
    font-size: 1.5em;
}

em{
    color: rgb(254, 160, 47);
    font-style: normal;
}

#profile-photo{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: block;
    position: absolute;
    left: 40%;
    top: 8em;
}

main{
    background-color: rgb(255, 192, 67);
    padding-left: 4em;
    padding-bottom: 3em;
    padding-top: 4em;
    padding-right: 4em;
}

#introduction{
    color: #fff;
    font-family: 'Bahnschrift Light';
    padding-top: 3em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 2em;
}

#toggleButton{
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 1.0);
    color: #000000;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Bahnschrift Light';
    border-radius: 10px;
}

#toggleButton:hover{
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
}

#works{
    padding-left: 4em;
    padding-right: 4em;
}

#main-footer{
    background-color: rgb(255, 192, 67);
    padding: 0;
    padding-bottom: 5em;
}

/*Push Effect*/
.pushEffect{
	float: right;
    font-size: 6em;
    opacity: 70%;
}
.pushEffect span{
	animation: push 12.5s linear infinite 0s;
	-ms-animation: push 12.5s linear infinite 0s;
	-webkit-animation: push 12.5s linear infinite 0s;
	color: #fff;
	opacity: 0;
	overflow: hidden;
    position: absolute;
    top: 0.5em;
    right: 1.7em;
    margin-left: 0.2em;
}
.pushEffect span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.pushEffect span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.pushEffect span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.pushEffect span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}

/*Push Effect Animation*/
@-moz-keyframes push{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: rotate(0deg) scale(2) skew(0deg) translate(0px); }
	10% { opacity: 1; -moz-transform: translateX(0px); }
	25% { opacity: 1; -moz-transform: translateX(0px); }
	30% { opacity: 0; -moz-transform: translateX(0px); }
	80% { opacity: 0; }
	100% { opacity: 0;}
}
@-webkit-keyframes push{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform:rotate(0deg) scale(2) skew(0deg) translate(0px);}
		10% { opacity: 1; -webkit-transform: translateX(0px); }
	25% { opacity: 1; -webkit-transform: translateX(0px); }
	30% { opacity: 0; -webkit-transform: translateX(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes push{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: rotate(0deg) scale(2) skew(0deg) translate(0px); }
	10% { opacity: 1; -ms-transform: translateX(0px); }
	25% { opacity: 1; -ms-transform: translateX(0px); }
	30% { opacity: 0; -ms-transform: translateX(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
