body{
    margin: 0;
    border: 0;
    font-family: 'Bahnschrift', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 196, 78);
}

#top-navigator{
    background-color: #fff;
    overflow: hidden;
    padding-right: 3%;
    position: fixed;
    width: 100%;
}

#nav-list a{
    float: right;
    text-align: center;
    font-size: 1em;
    color: #000000;
    text-decoration: none;
    margin: 0;
    padding: 5px 10px;
    word-spacing: 10px;
}

#main-header{
    background-color: rgb(151, 209, 217);
    padding-top: 4em;
    padding-left: 9%;
    padding-right: 8%;
    padding-bottom: 1.2em;
}

h2{
    font-size: 4.5em;
    color: #fff;
    margin: 1%;
    letter-spacing: 3px;
}

h3{
    font-size: 1.5em;
}

em{
    color: rgb(254, 160, 47);
    font-style: normal;
}

#profile-photo{
    border-radius: 50%;
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -9em;
}

main{
    background-color: rgb(255, 196, 78);
    padding-left: 5%;
    padding-bottom: 0;
    padding-top: 4em;
    padding-right: 5%;
}

#introduction{
    color: #fff;
    font-family: 'Bahnschrift Light';
    padding-top: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3em;
    text-align: center;
}

#toggleButton{
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 1.0);
    color: #494949;
    padding: 17px;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Bahnschrift Light';
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

#toggleButton:hover{
    cursor: pointer;
}

#toggleButton:active{
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
}

#works{
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 0;
}

.work{
    background-color: rgb(254, 153, 31);
    font-family: 'Bahnschrift Light';
    color: white;
    cursor: pointer;
    padding: 20px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.work:hover {
    background-color: rgb(255, 139, 0);
    border: 0.1px solid rgba(255, 255, 255, 0.4);
  }

.content {
    padding: 0px;
    display: none;
    overflow: hidden;
    width: 80%;
    padding-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background-color: #f1f1f1;
}

p{
    margin: 18px;
    font-family: 'Bahnschrift Light';
}

.project-images{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#main-footer{
    background-color: rgb(255, 196, 78);
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
}

#contact-icons{
    display: inline;
    margin-left: 30%;
    margin-right: 30%;
}

.contact-icon{
    width: 5%;
    margin-left: 4%;
    margin-right: 4%;
}

.contact-icon:hover{
    cursor: pointer;
}

#copyright{
    font-family: 'Bahnschrift Light';
    color: rgba(255, 255, 255, 0.8);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
}

/*Push Effect*/
.pushEffect{
	float: right;
    font-size: 6em;
    opacity: 70%;
}
.pushEffect span{
	animation: push 12.5s linear infinite 0s;
	-ms-animation: push 12.5s linear infinite 0s;
	-webkit-animation: push 12.5s linear infinite 0s;
	color: #fff;
	opacity: 0;
	overflow: hidden;
    position: absolute;
    top: 0.5em;
    right: 10%;
}
.pushEffect span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.pushEffect span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.pushEffect span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.pushEffect span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}

/*Push Effect Animation*/
@-moz-keyframes push{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: rotate(0deg) scale(2) skew(0deg) translate(0px); }
	10% { opacity: 1; -moz-transform: translateX(0px); }
	25% { opacity: 1; -moz-transform: translateX(0px); }
	30% { opacity: 0; -moz-transform: translateX(0px); }
	80% { opacity: 0; }
	100% { opacity: 0;}
}
@-webkit-keyframes push{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform:rotate(0deg) scale(2) skew(0deg) translate(0px);}
		10% { opacity: 1; -webkit-transform: translateX(0px); }
	25% { opacity: 1; -webkit-transform: translateX(0px); }
	30% { opacity: 0; -webkit-transform: translateX(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes push{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: rotate(0deg) scale(2) skew(0deg) translate(0px); }
	10% { opacity: 1; -ms-transform: translateX(0px); }
	25% { opacity: 1; -ms-transform: translateX(0px); }
	30% { opacity: 0; -ms-transform: translateX(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
