.Game {
  /* Spacing */
  margin: 0 10vw;
  position: relative;
}

#ClawMachine {
  height: 80vh;
}

#ClawBody {
  position: absolute;
  top: 13%;
  left: 43%;
  height: 3.2vh;
  z-index: 1;
}

#ClawHinge {
  position: absolute;
  top: 18.5%;
  left: 47.5%;
  height: 2.5vh;
  z-index: 1;
}

#ClawRod {
  position: absolute;
  top: 16.3%;
  left: 48.6%;
  height: 2.5vh;
  width: 1.5vh;
  z-index: 0;
}

#ClawL {
  position: absolute;
  top: 21%;
  left: 44%;
  height: 5vh;
}

#ClawR {
  position: absolute;
  top: 21%;
  left: 51.5%;
  height: 5vh;
}

#ButtonL {
  position: absolute;
  top: 53.5%;
  left: 20%;
  height: 5vh;
}

#ButtonR {
  position: absolute;
  top: 53.5%;
  left: 40%;
  height: 5vh;
}

#ButtonP {
  position: absolute;
  top: 53.5%;
  left: 65%;
  height: 5vh;
}