.App {
  overflow: hidden;
  /* Hide scrollbars */
  height: 100vh;
  width: 100vw;
  /* Initialize flexbox */
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
  background-color: white;
  background-image: url('./assets/backgroundGradient.png');
  background-size: cover;
}

#NavBar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#TopNav button {
  float: left;
  text-align: center;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  margin: 0;
  padding: 5px 10px;
  word-spacing: 10px;
}

.Content {
  /* Content class covers the entire viewport */
  height: 100vh;
  width: 100vw;
  /* Initialize flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}